*{
    margin: 0;
    padding: 0;
}


.navegacion{
    background-color: rgb(179,175,143);
    font-family: 'Inter', sans-serif;
}

a{
    color:rgb(43, 58, 103);
}

.datos{
    background-color: rgb(179,175,143);
    font-family: 'Inter', sans-serif;
}

.seccion1{
    background-color: rgb(102,153,155);
}

