
/* inicia head */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*media querie mobile-smartphone*/

@media(max-width: 767px){
    header{
        grid-area: header;
        background-color: rgb(179, 175, 143);
    }
    
    footer{
        grid-area: footer;
        background-color: rgb(179,175,143);
    }
    
    section#servicios1{
        grid-area: servicios1;
        background-color: (102, 153, 155);
    }
    
    section#servicios2{
        grid-area: servicios2;
        background-color: rgb(102, 153, 155);
    }
    
    aside{
        grid-area: publicidad;
        background-color: rgb(102, 153, 155);
    }

    #grilla{
        width: 100vw;
        height: 100vh;
    }

    .border{
        border: 1px solid black;
    }

    #grilla{
        display: grid;
        grid-template-areas: 
        "header"
        "servicios1"
        "servicios2"
        "publicidad"
        "footer"; 
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
    }

    #barra{
        list-style-type: none;
        text-decoration: none;
        color:rgb(43, 58, 103);
        background-color: rgb(179, 175, 143);
        font-family: 'Inter', sans-serif;
        height: auto;
        
    }
    
    nav ul{
        list-style-type: none;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        gap: 20px;
    }
    
    a{
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        color:rgb(43, 58, 103); 
    }

    #servicios1{
        background-color: rgb(102, 153, 155);
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 50px;
        font-family: 'Inter', sans-serif;
        color:rgb(43, 58, 103); 
    }

    #gradiente{
        background-image: linear gradient (to right, rgb(102,153,155), rgb(73,106,129));
    }

    footer{
        color:rgb(43, 58, 103);
        background-color: rgb(179, 175, 143);
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    aside{
        background-color: rgb(102, 153, 155);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40hv;
    
    }

    #mobile{
        color:rgb(43, 58, 103);
        font-family: 'inter', sans-serif;
        font-size: medium;
        font-weight: 350;
    }


}

/*media querie tablet*/
header{
    grid-area: header;
    background-color: rgb(179, 175, 143);
}

footer{
    grid-area: footer;
    background-color: rgb(179,175,143);
}

section#servicios1{
    grid-area: servicios1;
    background-color: (102, 153, 155);
}

#gradiente{
    background-image: linear-gradient(to right, rgb(102,153,155), rgb(73,106,129));
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 1 fr;
    gap: 50px;
    font-family: 'Inter', sans-serif;
    color:rgb(43, 58, 103); 
}

section#servicios2{
    grid-area: servicios2;
    background-color: rgb(102, 153, 155);
}

aside{
    grid-area: publicidad;
    background-color: rgb(102, 153, 155);
}

#grilla{
    width: 100vw;
    height: 100vh;
}

.border{
    border: 1px solid black;
}

@media (min-width: 768.99px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header    header"
        "servicios1 publicidad"
        "servicios2 publicidad"
        "footer     footer"; 
        grid-template-columns: 85% 15%;
        grid-template-rows: 1fr 1fr;
    }

    #barra{
        list-style-type: none;
        text-decoration: none;
        color:rgb(43, 58, 103);
        background-color: rgb(179, 175, 143);
        font-family: 'Inter', sans-serif;
        height: 80px;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    
    nav ul{
        list-style-type: none;
        text-decoration: none;
        display: flex;
        justify-items: center;
        align-content: center;
        gap: 40px;
    }
    
    a{
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        color:rgb(43, 58, 103); 
    }

    #servicios1{
        background-color: rgb(102, 153, 155);
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 50px;
        font-family: 'Inter', sans-serif;
        color:rgb(43, 58, 103); 
    }
    
    p{
        font-family: 'Inter', sans-serif;
        font-size: large;
    }
    
    img{
        margin-top: 40px;
        margin-right: 100px;
        margin-bottom: 40px;
        margin-left: 100px;
        border: 20px inset rgb(43, 58, 103);
    }

    #servicios2{
        background-color: rgb(102, 153, 155);
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        height: 500px;
        gap: 50px;
        font-family: 'Inter', sans-serif;
        color:rgb(43, 58, 103); 
    }
    
    iframe{
        margin-top: 60px;
        margin-right: 150px;
        margin-bottom: 60px;
        margin-left: 150px;
        border: 20px inset rgb(43, 58, 103);
    }

    footer{
        color:rgb(43, 58, 103);
        background-color: rgb(179, 175, 143);
        font-family: 'Inter', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

}

/*media querie desktop*/

@media(min-width: 1024px){

#grilla{
    width: 100vw;
    height: 100vh;
}

.border{
    border: 1px solid black;
}
/* 10 px  */
/* 1 em=10px  3em=30px  toma de referencia la medida del elemento*/
/* 1 rem=10px   3 rem=30px toma de referencia la medida del html */

/* fin head */
/* inicia body */

#grilla{
    display: grid;
    grid-template-areas: 
    "header    header"
    "servicios1 publicidad"
    "servicios2 publicidad"
    "footer     footer"; 
    grid-template-columns: 85% 15%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* inicia header */

#barra{
    list-style-type: none;
    text-decoration: none;
    color:rgb(43, 58, 103);
    background-color: rgb(179, 175, 143);
    font-family: 'Inter', sans-serif;
    height: 80px;
    display: grid;
    justify-items: center;
    align-items: center;
}

nav ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-items: center;
    align-content: center;
    gap: 40px;
}

a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color:rgb(43, 58, 103); 
}

/* fin header */

/* inicia section 1 */
#servicios1{
    background-color: rgb(102, 153, 155);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 50px;
    font-family: 'Inter', sans-serif;
    color:rgb(43, 58, 103); 
}

p{
    font-family: 'Inter', sans-serif;
    font-size: large;
}

img{
    margin-top: 40px;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-left: 100px;
    border: 20px inset rgb(43, 58, 103);
}
/* fin section 1 */

/* inicia section 2 */

#servicios2{
    background-color: rgb(102, 153, 155);
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    height: 500px;
    gap: 50px;
    font-family: 'Inter', sans-serif;
    color:rgb(43, 58, 103); 
}

iframe{
    margin-top: 60px;
    margin-right: 150px;
    margin-bottom: 60px;
    margin-left: 150px;
    border: 20px inset rgb(43, 58, 103);
}

/* termina section 2 */

/* inica aside */

aside{
    background-color: rgb(102, 153, 155);
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* termina aside */

/* inicia footer */
footer{
    color:rgb(43, 58, 103);
    background-color: rgb(179, 175, 143);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* fin footer */

/* inicia declaracion de areas */
header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

section#servicios1{
    grid-area: servicios1;
}

section#servicios2{
    grid-area: servicios2;
}

aside{
    grid-area: publicidad;
}
}
/* fin body */


