
footer{
    color: $letra2;
    background-color: rgb(179, 175, 143);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: auto;
    gap: 15px;
    width: 100vw;
    height: 100px;

    h3{
        align-self: center;
    }
}