
footer{
    color: $letra2;
    background-color: rgb(179, 175, 143);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}