* {
  margin: 0;
  padding: 0;
}

#body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

.menuContainer {
  background-color: #1F4690;
}

.menu {
  width: auto;
  display: flex;
}

a {
  text-decoration: none;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: start;
  height: auto;
}
nav ul {
  width: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}
nav a {
  list-style: none;
}

#header {
  background-color: #1F4690;
  grid-area: "header";
}
#header ul {
  display: flex;
  gap: 30px;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.navegacion {
  background-color: #1F4690;
  font-family: "Inter", sans-serif;
}

a {
  color: #FFA500;
}

li {
  color: #FFA500;
}

.elementos {
  color: #FFA500;
}

h1 {
  color: #1F4690;
}

h2 {
  color: #1F4690;
}

h3 {
  color: #1F4690;
}

p {
  color: #1F4690;
}

.sectionContainer1 {
  display: flex;
  flex-direction: column;
}
.sectionContainer1 .section1 {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 40px 30px 30px 40px;
}
.sectionContainer1 .section1 .banner1 {
  height: 550px;
  width: 1000px;
}

.sectionContainer2 {
  max-width: auto;
  height: 700px;
  display: flex;
}
.sectionContainer2 .section3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 500px;
  margin: 40px 60px 40px 60px;
  padding: 40px 60px 40px 60px;
}
.sectionContainer2 .section3 .contenido1 {
  color: #1F4690;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}

.sectionContainer3 {
  max-width: auto;
  height: 700px;
  display: flex;
}
.sectionContainer3 .section4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 500px;
  margin: 40px 60px 40px 60px;
  padding: 40px 60px 40px 60px;
}
.sectionContainer3 .section4 li {
  color: #1F4690;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  list-style: none;
}
.sectionContainer3 .section4 #titulo {
  font-weight: bold;
}

.sectionContainer4 {
  max-width: auto;
  height: 700px;
  display: flex;
}
.sectionContainer4 .section5 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 700px;
  margin: 40px 40px 40px 60px;
  padding: 40px 50px 40px 60px;
}
.sectionContainer4 .section5 .contenido2 {
  color: #1F4690;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}

#main {
  width: 100%;
  grid-area: "main";
}
#main #encabezado {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}
#main #encabezado #titulares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px;
}
#main #encabezado #bannerGrid {
  height: 600px;
  width: 900px;
  margin-bottom: 80px;
}
#main #section1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 400px;
  padding: 40px 100px 40px 60px;
  color: #1F4690;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
#main #section1 #evaluacion {
  width: 700px;
  height: 500px;
}
#main #section2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  padding: 40px 100px 60px 30px;
}
#main #section2 li {
  color: #1F4690;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  list-style: none;
}
#main #section2 #imagenEscuelas {
  width: 700px;
  height: 500px;
}
#main #section3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 40px 400px 60px 60px;
  gap: 40x;
}

.datos {
  background-color: #1F4690;
  font-family: "Inter", sans-serif;
}

h4 {
  color: #FFA500;
}

h5 {
  color: #FFA500;
}

h6 {
  color: #FFA500;
}

.footerContainer {
  max-width: auto;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1F4690;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
}
.footerContainer #footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#footerEscuelas {
  width: 100%;
  background-color: #1F4690;
  grid-area: "footer";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "telefonos ubicacion email";
  gap: 30px;
  justify-items: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */